@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
body {
  font-family: "Lexend", sans-serif;
}
.bg-blur {
  /* From https://css.glass */
  background: rgba(24, 24, 24, 0.329);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
